.offers {
   margin-bottom: 120px;
}

.offers__list {
   display: flex;
   flex-wrap: wrap;
   grid-gap: 10px;
   list-style: none;
   margin: 0;
   padding-left: 0;
}

.offers__item {
   width: 24%;
   min-height: 250px;
   background: rgba(144, 144, 144, 0.1);
   border-radius: 5px;
   transition: box-shadow 0.4s ease;

   &:hover {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   background-color: $primary-color;
   }

   &:hover .offers__item__title {
      color: #FFFFFF;
   }

   &:hover .offers__item__icon {
      filter: drop-shadow(12px 12px 5px #4444dd);
   }

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      width: 32.3%;
   }

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
      width: 48.8%;
   }

   //Mobile devices
   @media screen and (min-width: 320px) and (max-width: 480px){
      width: 100%;
   }
}

.offers__link {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   padding: 45px 25px;
   text-decoration: none;
   color: $text-color;

   &:hover .offers__item__title,
   &:active .offers__item__title {
      z-index: 1;
      cursor: pointer;
   }

   &:active .offers__item__bg,
   &:hover .offers__item__bg {
      opacity: 0.15;
   }

   &:hover .offers__svg,
   &:active .offers__svg {
      fill: #FFFFFF;
      z-index: 1;
   }

}

.offers__item__bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0;
   transition: all 0.4s ease;
}

.offers__item__title {
   font-size: 1.125rem;
   cursor: context-menu;
   line-height: 150%;
}

.offers__svg {
   width: 60px;
   height: 60px;
}