//Extra large screens, TV
@media screen and (min-width: 1401px){
   padding: 0 20px;
}
  //Laptops
  @media screen and (min-width: 1201px) and (max-width: 1400px){
   padding: 0 20px;
}
  //Desktops, large screens
  @media screen and (min-width: 1025px) and (max-width: 1200px){
   padding: 0 20px;
}
  //Small screens, laptops
  @media screen and (min-width: 769px) and (max-width: 1024px){
   padding: 0 20px;
}
  //iPads, Tablets
  @media screen and (min-width: 481px) and (max-width: 768px){
   padding: 0 20px;
}
  //Mobile devices
  @media screen and (min-width: 320px) and (max-width: 480px){
    padding: 0 20px;
}