@font-face {
  font-family: "Cambria";
  src: url("../fonts/Cambria.woff2") format("woff2"),
    url("../fonts/Cambria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cambria";
  src: url("../fonts/Cambria-Bold.woff2") format("woff2"),
    url("../fonts/Cambria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}