.section-title {
   margin-top: 0;
   margin-bottom: 80px;
   font-weight: bold;
   font-size: 3.125rem;
   line-height: 172%;
   text-align: center;

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      margin-bottom: 40px;
   }

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
      font-size: 2.7rem;
   }
}