// COLORS
$primary-color: #2573fb;
$text-color: #060606;
$white-color: #ffffff;
$section-bg-color: #f0f1f9;
$link-color: #fb3141;

// TYPOGRAPHY
$main-font: "Cambria", sans-serif;
$second-font: "Montserrat", sans-serif;
