.call {
   background-color: $primary-color;
   margin-bottom: 110px;
}

.call__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 48px;
   padding-bottom: 48px;

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
      flex-direction: column;
   }
}

.call__title {
   flex: 0 1 50%;
   margin: 0;
   font-size: 1.875rem;
   line-height: 139%;
   color: #fff;

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      flex-basis: 65%;
   }

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
     flex-basis: 100%;
     font-size: 1.5rem;
     margin-bottom: 40px;
   }
}

.call__button {
   position: relative;
   padding: 20px;
   padding-left: 75px;
   border: 2px solid $white-color;
   font-size: 1.375rem;
   border-radius: 50px;
   text-decoration: none;
   color: $white-color;
   font-weight: bold;
   transition: all 0.4s ease;

   &:hover {
      background-color: $white-color;
      color: $primary-color;
      border-color: $primary-color;
      text-align: center;
      box-shadow: 7px 9px 35px -6px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
   }

   &:hover.call__button::after {
      background-color: #fff;
      border-color: $primary-color;
      background-image: url("/img/tel.svg");
   }
}

.call__button::after {
   content: '';
   position: absolute;
   background-image: url("/img/tel-white.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   left: -2px;
   top: 0;
   width: 65px;
   height: 100%;
   border-radius: 50%;
   border: 2px solid $white-color;
   transition: all 0.4s ease;
}