.contact {
   background-color: $primary-color;
}

.contact__container {
   padding-top: 48px;
   padding-bottom: 48px;
}


.contact__list {
   padding-left: 0;
   list-style: none;
   font-size: 1.5rem;
}

.tel {

}

.contact__svg {
   fill: #fff;
   width: 24px;
   height: 24px;
}
.tel__link {
}
.e-mail {
}
.e-mail__link {
}
.address {
}
.address__link {
}
.social {
}
.social__link {
}
.telegram__svg {
}
.whatsapp__svg {
}
.intagram__svg {
}
.contact__map {
}
.contact__map__link {
}