.contact {
   background-color: $primary-color;
   padding-top: 48px;
   padding-bottom: 48px;
}

.contact > .section-title {
   color: #f3f3f3;
}

.contact__container {
   display: flex;
   align-items: center;

   //Laptops
   @media screen and (max-width: 1200px){
      flex-direction: column;
   }
}


.contact__list {
   flex: 1 0 50%;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 20px;
   padding-left: 0;
   list-style: none;
   font-size: 1.5rem;

    //Laptops
    @media screen and (max-width: 1200px){
      margin-right: 0;
      margin-bottom: 50px;
   }
}

.contact__svg {
   fill: #fff;
   width: 24px;
   height: 24px;
   margin-right: 10px;
}

.contact__item {
   margin-bottom: 25px;

   &:hover .contact__item__link{
      color: #fdcc50;
   }

   &:hover .contact__svg {
      fill: #fdcc50;
   }
}

.contact__item__link {
   color: #f3f3f3;
   text-decoration: none;
   margin: 0;
}

.address {
   display: flex;
}
.address__link {
   line-height: 150%;
   max-width: 500px;
   cursor: pointer;
}

.social {
   display: flex;
   justify-content: space-between;
   width: 170px;
}

.social__link > svg {
   width: 40px;
   height: 40px;
   fill: #fff;
}

.telegram__svg {
}
.whatsapp__svg {
   &:hover {
      fill: #25D366;
   }
}
.intagram__svg {
   &:hover {
      fill: #5851DB;
   }
}
.contact__map {
   width: 100%;
}

.contact__map__link {
   width: 100%;
}