.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 150px;
}

.header__nav__logo {
   display: flex;
   align-items: center;
   font-size: 2.25px;
   text-decoration: none;
   color: $primary-color;
   font-weight: bold;
}

.header__nav__logo__img {
   padding-right: 10px;
}

.header__tel-button {
   position: relative;
   padding: 15px;
   padding-left: 62px;
   border: 2px solid $primary-color;
   border-radius: 33px;
   text-decoration: none;
   color: $primary-color;
   font-weight: bold;
   transition: background-color 0.4s ease-in-out;

   &:hover {
      background-color: $primary-color;
      color: #fff;
      text-align: center;
      box-shadow: 7px 9px 35px -6px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
   }

   &:hover.header__tel-button::after {
      background-color: #fff;
   }
}

.header__tel-button::after {
   content: '';
   position: absolute;
   background-image: url("/img/tel.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   left: -1px;
   top: 0;
   width: 49px;
   height: 49px;
   border-radius: 50%;
   border: 2px solid $primary-color;
}