.hero {
   padding-bottom: 150px;
   background-image: url("/img/location.svg");
   background-repeat: no-repeat;
   background-position: top -50px right -190px;

}
.hero__title {
   padding-bottom: 36px;
   font-weight: bold;
   font-size: 70px;
   line-height: 129%;
   color: $header-color;
   margin: 0;
}

.hero__desc {
   max-width: 610px;
   font-size: 24px;
   line-height: 32px;
   padding-bottom: 150px;
   margin: 0;
}

.button {
   padding: 20px 50px;
   border-radius: 60px;
   background-color: $primary-color;
   color: $white-color;

   font-weight: bold;
   font-size: 26px;
   line-height: 31px;
   text-align: center;
   text-decoration: none;
   transition: background-color 0.4s ease;
   box-shadow: 7px 9px 35px -6px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

   &:hover {
      background-color: rgba(67, 139, 227, 0.9);
   }
}