.clearance__header {
   background-image: url(/img/customs-clearence-hero.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 55%;
   background-attachment: scroll;
   padding-top: 20px;
   padding-bottom: 50px;
   z-index: -2;

   //Mobile devices
   @media screen and (max-width: 650px){
        background-position: 80% 50%;
   }
}

.clearance__header__nav {
   margin-bottom: 0;
}

.clearance__header__nav__logo {
   color: #fff;
}

.clearance__hero {
   padding-top: 50px;
   padding-bottom: 50px;

   //Mobile devices
   @media screen and (max-width: 650px){
      padding-top: 50px;
      padding-bottom: 50px;
   }
}

.clearance__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.text-black-bg {
   padding-right: 10px;
   padding-left: 10px;
   background-color: #000;
   color: #fff;
}

.clearance__hero__title {
   margin-top: 0;
   margin-bottom: 7px;
   font-size: 3.75rem;
   line-height: 1.3;
   text-align: center;

   //Mobile devices
   @media screen and (max-width: 650px){
      font-size: 3rem;
   }
}

.clearance__hero__desc {
   max-width: 700px;
   font-size: 1.5rem;
   color: #fff;
   text-align: center;

   //Mobile devices
   @media screen and (max-width: 650px){
      font-size: 1.8rem;
   }
}

.clearance__hero__button__link {
   padding: 10px 40px;
   background-color: rgb(253, 204, 80);
   font-size: 1.5rem;
   text-decoration: none;
   text-align: center;
   color: #222;
   font-weight: bold;
   line-height: 150%;
   border-radius: 5px;
   transition: all 0.3s ease;

   &:hover,
   &:active {
      background-color: rgb(243, 233, 86)
   }
}

.clearance__hero__trust {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 700px;
   padding-left: 0;
   margin-top: 30px;
   margin-bottom: 0;
   list-style: none;

   //Mobile devices
   @media screen and (max-width: 543px){
     flex-direction: column;
     align-items: flex-start;
     font-size: 1.4rem;
   }
}
.clearance__hero__trust__item {
   position: relative;
   display: flex;
   align-items: center;
   color: #fff;
   
   &:not(:last-child) {
      margin-right: 40px;

      //Mobile devices
      @media screen and (max-width: 543px){
         margin-right: 0px;
         margin-bottom: 5px;
      }
   }

   &::before {
      content: '';
      display: block;
      width: 19px;
      height: 20px;
      top: -10px;
      left: -25px;
      background-image: url(/img/check-mark.svg);
      background-repeat: no-repeat;
      margin-right: 5px;
   }
}