.blog-post {
   z-index: 2;
}

.blog-post__container {
   display: flex;

   //Small screens, laptops
   @media screen and (max-width: 1024px){
      flex-direction: column;
   }
}

.post {
   padding: 60px 70px;
   background-color: #fff;
   border-radius: 15px;
   box-shadow: 0 4px 27px rgba(60, 76, 121, 0.3);
   position: relative;
   margin-top: -40px;
   margin-bottom: 50px;

   &::after {
      content: '';
      position: absolute;
      top: 20px;
      z-index: -1;
      right: -15px;
      height: -webkit-calc(100% - 40px);
      height: calc(100% - 40px);
      width: 50px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 4px 27px rgba(60, 76, 121, 0.3);
      z-index: -2;

      @media screen and (max-width: 520px){
         display: none;
      }
  }

   //Desktops, large screens
   @media screen and (max-width: 1100px){
      padding: 0 20px;
      max-width: 700px;
   }

   @media screen and (max-width: 1024px){
      max-width: 100%;
   }
}
.post__title {
   margin-bottom: 50px;
   font-size: 3.25rem;
}

.post-thumb {
   display: flex;
   margin-bottom: 25px;
}

.post-thumb__image {
   object-fit: cover;
   object-position: 50% 50%;
}

.post-content__title {
   font-size: 2rem;
   margin-top: 35px;
   margin-bottom: 20px;
}
.post__text {
   font-size: 1.5rem;
   text-align: justify;
   line-height: 150%;
   margin-top: 0;
   margin-bottom: 25px;

   //iPads, Tablets
   @media screen and (max-width: 481px){
      text-align: left;
   }
}

.post-content__list {
   margin-top: 0;
}

.post-content__item {
   margin-bottom: 25px;
   font-size: 1.5rem;
   line-height: 150%;
   text-align: justify;

   //iPads, Tablets
   @media screen and (max-width: 481px){
      text-align: left;
   }
}

.table-post__list {
   border: 1px solid #e4edf5;
   border-radius: 5px;
   box-shadow: 0 4px 27px rgba(60, 76, 121, 0.15);
   margin-bottom: 40px;
   padding-left: 0;
}
.table-post__item {
   position: relative;
   display: flex;
   align-items: center;
   list-style: none;
   padding: 15px;
   padding-left: 30px;
   font-size: 1.2rem;
   border-bottom: 1px solid #e4edf5;

   &::before {
      content: '';
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
   }
}

.table-post__item.medal.table-post__item::before {
   background-image: url(/img/medal.png);
}

.table-post__item.shield.table-post__item::before {
   background-image: url(/img/shield.png);
}

.table-post__item.clock.table-post__item::before {
   background-image: url(/img/clock.png);
}

.table-post__item.map.table-post__item::before {
   background-image: url(/img/map.png);
}

.table-post__item.container-png.table-post__item::before {
   background-image: url(/img/container.png);
}

.table-post__item.skoroport.table-post__item::before {
   background-image: url(/img/skoroport.png);
}

.table-post__item.dangerous.table-post__item::before {
   background-image: url(/img/dangerous.png);
}

.table-post__item.sborniy-gruz.table-post__item::before {
   background-image: url(/img/sborn-gruzy.png);
}

.table-post__item.oborud.table-post__item::before {
   background-image: url(/img/oborud.png);
}

.table-post__item.sypuchie.table-post__item::before {
   background-image: url(/img/sypuchie.png);
}

.table-post__item.negabarit.table-post__item::before {
   background-image: url(/img/negabarit.png);
}

.post__text__link {
   text-decoration: none;
   color: $link-color;
   background:
    linear-gradient(
      to right,
      $link-color,
      $link-color
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
   );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;


   &:hover {
   background-size: 0 2px, 100% 2px;
   }
}
