.blog-post__container {
   display: flex;
   flex-direction: column;
   max-width: 1024px;
   padding: 60px 70px;
   background-color: #fff;
   border-radius: 15px;
   box-shadow: 0 4px 27px rgba(60, 76, 121, 0.3);
   position: relative;
   margin-top: -70px;
   margin-bottom: 50px;

   &::after {
      content: '';
      position: absolute;
      top: 20px;
      z-index: -1;
      right: -15px;
      height: -webkit-calc(100% - 40px);
      height: calc(100% - 40px);
      width: 50px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 4px 27px rgba(60, 76, 121, 0.3);

      @media screen and (max-width: 520px){
         display: none;
      }
  }

   //Desktops, large screens
   @media screen and (max-width: 1100px){
      padding: 0 20px;
      max-width: 700px;
   }

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
      max-width: 480px;
   }
}
.post__title {
   margin-bottom: 50px;
   font-size: 3.25rem;
}

.post-thumb {
   display: flex;
   margin-bottom: 25px;
}

.post-thumb__image {
   object-fit: cover;
   object-position: 50% 50%;
}

.post-content__title {
   font-size: 2rem;
   margin-top: 35px;
   margin-bottom: 20px;
}
.post__text {
   font-size: 1.5rem;
   text-align: justify;
   line-height: 150%;
   margin-top: 0;
   margin-bottom: 25px;
}

.post-content__list {
   margin-top: 0;
}

.post-content__item {
   margin-bottom: 25px;
   font-size: 1.5rem;
   line-height: 150%;
   text-align: justify;
}