.adventages {
   margin-bottom: 110px;

   //Mobile devices
   @media screen and (max-width: 480px){
      margin-bottom: 50px;
   }
}

.adventages__list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
   grid-gap: 48px;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: none;

   //Mobile devices
   @media screen and (max-width: 1200px){
      grid-gap: 20px;
   }

   //Mobile devices
   @media screen and (max-width: 768px){
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
   }
}

.adventages__item {
   display: flex;
   align-items: flex-start;
   padding: 36px 60px 36px 50px;
   min-height: 184px;
   background: rgba(78, 78, 78, 0.05);
   border-radius: 5px;

   //Small screens, laptops
   @media screen and (max-width: 1024px){
      min-height: 150px;
      padding: 25px 30px 25px 25px;
   }
   

   //Mobile devices
   @media screen and (max-width: 480px){
      flex-direction: column;
   }
}

.adventages__icon {
   margin-right: 50px;

   //Mobile devices
   @media screen and (max-width: 1024px){
      margin-right: 25px;
   }
}
.adventages__icon__src {
   max-width: 64px;
   height: 64px;
}

.adventages__text {
   max-width: 465px;  
}

.adventages__title {
   margin-top: 0;
   margin-bottom: 10px;
   font-weight: bold;
   font-size: 1.5rem;
   line-height: 125%;
   color: #001A49;
   
   //Mobile devices
   @media screen and (max-width: 1024px){
      font-size: 1.7rem;
   }
}
.adventages__desc {
   margin: 0;
   font-size: 1rem;
   line-height: 150%;
   color: #4F596A;

   //Mobile devices
   @media screen and (max-width: 1024px){
      font-size: 1.2rem;
   }
}