.discount {
   margin-bottom: 100px;

   //Mobile devices
   @media screen and (max-width: 480px){
      margin-bottom: 50px;
   }
}
.discount__wrapper {
   border-radius: 21px;
   background: rgba(67, 139, 227, 0.1);
   padding: 40px 100px;
   background-size: 500px;
   background-image: url("/img/discount.svg");
   background-repeat: no-repeat;
   background-position: center right 100px;

   //Desktops, large screens
   @media screen and (min-width: 1025px) and (max-width: 1200px){
      padding: 40px 110px;
   }

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      padding: 30px 60px;
      background-size: 300px;
   }

   //iPads, Tablets
   @media screen and (max-width: 768px){
      padding: 15px 30px;
      background-size: 150px;
      background-position: top 15px right 30px;
   }

   //Mobile devices
   @media screen and (max-width: 480px){
      background-size: 100px;
   }
}

.discount__title {
   margin-top: 0;
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 2.25rem;
   line-height: 146%;
   text-transform: uppercase;
   color: #001A49;

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      margin-bottom: 10px;
   }

   //iPads, Tablets
   @media screen and (max-width: 768px){
      margin-bottom: 5px;
      font-size: 2rem;
   }
}

.discount__desc {
   max-width: 670px;
   margin: 0;
   font-size: 1.5rem;
   line-height: 152%;

   //Laptops
   @media screen and (min-width: 1201px) and (max-width: 1440px){
      max-width: 450px;
   }

   @media screen and (min-width: 1025px) and (max-width: 1200px){
      max-width: 400px;
   }

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      max-width: 350px;
   }

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
      max-width: 100%;
      font-size: 1.2rem;
   }
}