.header {
   
     //Small screens, laptops
     @media screen and (max-width: 1024px){
      padding-top: 20px;
      padding-bottom: 20px;
   }

      //Mobile devices
      @media screen and (max-width: 480px){
         margin-bottom: 50px;
      }
}

