.hero {
   margin-top: 80px;  
   margin-bottom: 100px;
   padding-top: 40px;
   padding-bottom: 150px;
   background-color: rgba(144, 144, 144, 0.1);
   background-image: url("/img/location.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: top -50px right -190px;

   //Laptops
   @media screen and (min-width: 1201px) and (max-width: 1440px){
      background-size: 1000px;
      background-position: top right -150px;
   }

   //Small screens, laptops
   @media screen and (min-width: 769px) and (max-width: 1024px){
      padding-bottom: 100px;
   }

   //iPads, Tablets
   @media screen and (max-width: 768px){
      background-size: contain;
      background-position: bottom 50px left;
   }
}
.hero__title {
   padding-bottom: 36px;
   font-weight: bold;
   font-size: 4.375rem;
   line-height: 129%;
   color: $text-color;
   margin: 0;
   
   //iPads, Tablets
   @media screen and (max-width: 768px){
      font-size: 3rem;
   }

   //Mobile devices
   @media screen and (max-width: 480px){
      padding-bottom: 15px;
   }
}

.hero__desc {
   max-width: 610px;
   font-size: 1.5rem;
   line-height: 125%;
   padding-bottom: 100px;
   margin: 0;

     //Small screens, laptops
     @media screen and (min-width: 769px) and (max-width: 1024px){
      max-width: 400px;
      padding-bottom: 50px;
   }

   //iPads, Tablets
   @media screen and (min-width: 481px) and (max-width: 768px){
      padding-bottom: 100px;
   }

   //Mobile devices
   @media screen and (max-width: 480px){
      padding-bottom: 50px;
   }
}


.btn-grad {
   background-color: #6699f2;
   margin: 10px;
   padding: 20px 45px;
   font-size: 1.5rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 20px;
   text-decoration: none;
   
   &:hover {
      background-color: $primary-color;
      color: #fff;
      text-decoration: none;
   }
 }

